{

    "dhan_token":{
        "client_code": "1234567890",
        "access_token": "eyJ0eXAiOiRTMNGiLCJklihtOiJIUzUxMiJ9.eyJpc3MiOiJkaGFuIiwicGFydG5lcklkIjoiIiwiZabcdfexNzgyMNUYNzQzLCJpYXQiOjE3ODI1MDQzNDMsInRva2VuQ29uc3VtZXJUeXBlIjoiU0VMRiIsIndlYmhvb2tVcmwiOiIiLCJkaGFuQ2xpZW50SWQiOiIxMTAxNzUyMjc3In0.SmA2x6xpIGL5kCd5BLbzrak_KGg-bh9AoCeWPjma4wStGsYhF-pQ9POW8MSCRWEwc8Og1NVnTQtGpOVre1234g",
        "remark"     : "Dhan login using access token"
    },
    "dhan_config": {
        "client_code": "1234567890",
        "totp_secret":  "QZPMLKTRNHDVYB4XWJCFGSAEUIOQPLM",
        "pin"        : "223344",
        "remark"     : "Dhan login using TOTP"
    },
    "telegram_bot":{
        "chat_id"    : 3333333333,
        "bot_token"  : "8759789321:AAHTQeLmE1JbhujkldwaqssPTVihwzlv7caw"
    }
}
